﻿@model PlanningPoker.ViewModels.GameViewModels.GameViewModel

@{
    ViewBag.Title = "GameUserView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-game" data-room-id="@Model.RoomId" data-owner-id="@Model.OwnerId" data-user-id="@Model.User.UserId" data-user-avatar="@Model.User.Avatar">
    <div class="left-container-game">
        <div class="container container-player">
            <table class="table player-table">
                <tbody id="connectedUsers">
                    @* User list *@
                </tbody>
            </table>
        </div>
        <div class="container container-chat">
            <div class="chat">
                <ul id="discussion" style="list-style-type: none;">
                    @* Chat *@
                </ul>
            </div>
            <div class="container-send-mail">
                <input id="message" class="control-input add-message" type="text" />
                <button title="send massage" class="send-message button button-table" value="" />
            </div>
        </div>
    </div>
    <div class="center-container-game">
        <div class="container game-list">
            <div class="mass-player">
                @* User positions *@
            </div>
        </div>
        <div class="container timer-user">
            <span class="timer" id="time">01:59</span>
        </div>
        <div class="container container-card-list">
            <ul class="mass-card">
                <li class="card-list">0</li>
                <li class="card-list">1/2</li>
                <li class="card-list">1</li>
                <li class="card-list">2</li>
                <li class="card-list">3</li>
                <li class="card-list">5</li>
                <li class="card-list">8</li>
                <li class="card-list">13</li>
                <li class="card-list">20</li>
                <li class="card-list">40</li>
                <li class="card-list">100</li>
                <li class="card-list">?</li>
                <li class="card-list">∞</li>
                <li class="card-list">tea</li>
            </ul>
        </div>
    </div>
    <div class="right-container-game">
        <div class="container container-story">
            <table class="table story-table">
                <tbody class="story-list">
                    @* Story list *@
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/signalr/hubs"></script>
<script src="~/Scripts/Custom/Hubs/Game.js" defer></script>
<script src="~/Scripts/Custom/SelectCard.js" defer></script>