﻿@model PlanningPoker.ViewModels.GameViewModels.GameViewModel

@{
    ViewBag.Title = "GameOwnerView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-game" data-room-id="@Model.RoomId" data-owner-id="@Model.OwnerId" data-user-id="@Model.User.UserId" data-user-avatar="@Model.User.Avatar">
    <div class="container container-player-owner">
        <div class="container-text">
            <table class="table player-table">
                <tbody id="connectedUsers">
                    @* User list *@
                </tbody>
            </table>
        </div>
        <div class="container-add-player">
            <input id="playerToInvite" class="control-input invite-player" />
            <button id="addPlayer" data-owner-id="@Model.OwnerId" title="add player" class="button button-table add-player-table"></button>
        </div>
    </div>
    <div class="container container-story-owner">
        <div class="container-for-scroll">
            <table id="select-story" class="table story-table-owner">
                <tbody id="sortable" class="story-list">
                    @* Story list *@
                </tbody>
            </table>
        </div>
        <div class="container-table-button">
            <button title="delete story" class="button button-table delete-story-table disabled-field" id="delete-story" disabled="disabled"></button>
            <button title="add story" class="button button-table add-story-table" id="add-story"></button>
            <input class="input-story-table control-input" id="story-name" />
        </div>
    </div>
    <div>
        <div class="container work-panel-owner">
            <div class="container timer-owner">
                <!--<p>Timer</p>-->
                <span class="timer" id="time">01:59</span>
                <button title="run timer" class="button start-timer" id="timerOn"></button>
            </div>
            <div class="container container-last-value">
                <!--<p>Final assessment</p>-->
                <select title="set estimate" class="add-value" id="estimate">
                    <option value="0">0</option>
                    <option value="1/2">1/2</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="8">8</option>
                    <option value="13">13</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="100">100</option>
                </select>
                <button title="set value" class="button set-value" id="set-estimate"></button>
                <button title="reset" class="button reset-game" id="reset-timer"></button>
                <button title="rotate cards" class="button rotate-card" id="showdown"></button>
            </div>
        </div>
        <div class="container container-chat-owner">
            <div class="chat-owner">
                <ul id="discussion" style="list-style-type: none;">
                    @* Chat *@
                </ul>
            </div>
            <div class="container-send-mail">
                <input id="message" class="control-input add-message-owner" type="text" />
                <button title="send message" class="send-message button button-table" value="" />
            </div>
        </div>
    </div>
</div>

<div id="notification" style="position: fixed; top: 0; right: 20px;"></div>

<script>
  $(function() {
    $("#sortable").sortable();
  });
</script>

<script src="~/Scripts/Custom/DisabledElement.js" defer></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/Custom/Hubs/Game.js" defer></script>