﻿.nav-menu,
.container-add-room,
.container-add-player,
.container-send-mail,
.container-table-button,
.sub-menu,
.active,
footer{    
    background-color: #e74c3c;
}

.link-menu:hover,
.send-message:hover,
.add-room-table:hover,
.add-player-table:hover,
.add-story-table:hover,
.delete-story-table:hover,
.download-story:hover{
    background-color: #AD564D;
}

.close-card {
    background: url(/Content/Images/Skins/red.jpg) no-repeat;
    background-size: 50px;
}