﻿@model PlanningPoker.ViewModels.AccountViewModels.UserProfileViewModel

@foreach (var room in Model.RoomList)
{
    <tr>
        <td title="@room.RoomTitle">@room.RoomTitle</td>
        <td>@room.UsersCount</td>
        <td>@room.UserRole</td>
        @if (room.UserRole == "owner")
        {
            <td>@Html.ActionLink(" ", "GameOwnerView", new { controller = "Game", idRoom = room.RoomId }, new { @class = "link-table" })</td>
                                <td><a data-id-room="@room.RoomId" class="delete-table-room"></a></td>
        }
        else
        {
            <td>@Html.ActionLink(" ", "GameUserView", new { controller = "Game", idRoom = room.RoomId }, new { @class = "link-table" })</td>
                                <td><a data-id-room="@room.RoomId" class="out-table-room"></a></td>
        }
    </tr>
}