﻿@model PlanningPoker.ViewModels.AccountViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form">
    <a href="index.html">
        <img class="logo center-holder" src="@Url.Content("~/Content/Images/logo-green.png")" alt="logo-planning-poker" />
    </a>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)

        <div class="center-holder">
            @Html.TextBoxFor(model => model.Login, htmlAttributes: new
       {
           @placeholder = "Login",
           @class = "control-input login"
       })
            @Html.ValidationMessageFor(model => model.Login)

            @Html.PasswordFor(model => model.Password, htmlAttributes: new
       {
           @placeholder = "Password",
           @class = "control-input password"
       })
            @Html.ValidationMessageFor(model => model.Password)

            <input type="submit" value="Sign in" class="submit" />
        </div>
        <div class="bottom">
            @Html.ActionLink("Sign up", "Register", new { controller = "Account" }, new { @class = "link" })
        </div>
    }
</div>