﻿@model PlanningPoker.ViewModels.AccountViewModels.UserProfileViewModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-profile">
    <div class="container container-rooms">
        <div class="container-for-scroll">
            <table class="table project-table">
                <thead>
                    <tr>
                        <th>Rooms</th>
                        <th class="icon-player-table"> </th>
                        <th>Your role</th>
                        <th>Enter</th>
                        <th>Out</th>
                    </tr>
                </thead>
                <tbody id="room-list">
                   @* Show room list *@
                </tbody>
            </table>
        </div>
        <div class="container-add-room">
            <input id="newRoomName" class="control-input create-room" />
            <button title="add room" id="createRoom" class="button button-table add-room-table"></button>
        </div>
    </div>
    <div class="form-profile">
        <button title="delete profile" class="delete-profile disabled-field"></button>
        <div class="container-input">
            <div class="flex-container">
                <div class="avatar">
                    <img src="@Url.Action("UserProfile")" alt="Your avatar here" />
                </div>
                <div class="flex-container-button">
                    <button class="save-profile button" id="save">Save changes</button>
                    <label class="button add-file-profile">
                        Add avatar
                        <input class="file-input" type="file" value="" id="user-file" formenctype="multipart/form-data" />
                    </label>
                </div>
            </div>

            <hr />

            <div class="center-holder-input">
                <input type="text" name="login" value="@Model.Login" placeholder="Login" class="control-input login disabled-field" id="user-login"/>
                <input type="text" name="country" value="@Model.Country" placeholder="Country" class="control-input town disabled-field" id="user-country" />
                <input type="date" name="birthday" value="@Model.Birthday" placeholder="Birthday" class="control-input birthday disabled-field" id="user-birthday" />
                <input type="tel" name="phone" value="@Model.Phone" placeholder="Phone" class="control-input telephone disabled-field" id="user-phone" />

                <div class="radio-profile">
                    <div class="radio-gender">
                        <label for="gender" class="icon-male">Male</label>
                        <input type="radio" name="gender" value="@Model.Gender" class="male disabled-field" />
                    </div>
                    <div class="radio-gender">
                        <label for="gender" class="icon-female">Female</label>
                        <input type="radio" name="gender" value="@Model.Gender" class="female disabled-field" />
                    </div>
                </div>

                <input type="email" name="email" value="@Model.Email" placeholder="Email" class="control-input email disabled-field" id="user-email" />
            </div>
            <hr />
            <div class="container-card-skin">
                <div title="standart-skin" onclick="swapStyleSheet('/Content/CSS/Skins/standart-skin.css')" class="skin standart">A</div>
                <div title="light-green-skin" onclick="swapStyleSheet('/Content/CSS/Skins/light-green-skin.css')" class="skin light-green">A</div>
                <div title="blue-skin" onclick="swapStyleSheet('/Content/CSS/Skins/blue-skin.css')" class="skin blue">A</div>
                <div title="yellow-skin" onclick="swapStyleSheet('/Content/CSS/Skins/yellow-skin.css')" class="skin yellow">A</div>
                <div title="pink-skin" onclick="swapStyleSheet('/Content/CSS/Skins/pink-skin.css')" class="skin pink">A</div>
                <div title="red-skin" onclick="swapStyleSheet('/Content/CSS/Skins/red-skin.css')" class="skin red">A</div>
                <div title="green-skin" onclick="swapStyleSheet('/Content/CSS/Skins/green-skin.css')" class="skin green">A</div>
                <div title="brown-skin" onclick="swapStyleSheet('/Content/CSS/Skins/brown-skin.css')" class="skin brown">A</div>
            </div>
        </div>
    </div>

</div>

<div id="my-toast-location" style="position: fixed; top: 0; right: 20px;"></div>
<div id="update-profile-success" style="position: fixed; top: 0; right: 20px;"></div>

<script>
  $(function() {
      $("#room-list").sortable();
  });
</script>

<script src="~/Scripts/Custom/DisabledElement.js" defer></script>