﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/CSS/css")
    <link id="pagestyle" href="~/Content/CSS/Skins/standart-skin.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/Images/fav-icon.ico")" />

    @Scripts.Render("~/Scripts/Vendor/jQuery/js")
    @Scripts.Render("~/Scripts/Vendor/jQuery-ui")
    @Scripts.Render("~/Scripts/Custom/js")
    @Scripts.Render("~/Scripts/Custom/Controllers")
    @Scripts.Render("~/Scripts/Vendor/Toastee")
    @Scripts.Render("~/Scripts/Custom/ToasteeMessages")
</head>
<body>
    <div class="page-preloader">
        <img class="spinner" src="~/Content/Images/preloader.png" />
    </div>
    <img class="background-img" src="@Url.Content("~/Content/Images/background.png")" />
    <nav class="nav-menu">
        <div class="left-menu">
            <a class="link-menu" href="/Home/Index">
                <img class="logo-menu" src="@Url.Content("~/Content/Images/logo-green.png")" alt="logo-planning-poker" />
            </a>

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="main-menu">
                    <li>@Html.ActionLink("My Profile", "UserProfile", new { controller = "Account" }, new { @class = "link-menu" })</li>
                    <li id="invite-list">
                        @* Show invite list *@
                    </li>
                </ul>
            }
        </div>
        <ul class="profile-menu">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="login-link-menu"> Welcome <span id="user-name">@User.Identity.Name</span>!</li>
                <li>@Html.ActionLink("Log out", "Logout", new { controller = "Account" }, new { @class = "link-menu" })</li>
            }
            else
            {
                <li>@Html.ActionLink("Sign in", "Login", new { controller = "Account" }, new { @class = "link-menu" })</li>
                <li>@Html.ActionLink("Registration", "Register", new { controller = "Account" }, new { @class = "link-menu" })</li>
            }
        </ul>
    </nav>

    @RenderBody()
    <footer>
        JuniorDevTeam Copyright © <span id="year"></span>.
    </footer>

    <script>
        document.getElementById('year').innerHTML = new Date().getFullYear();
    </script>
</body>
</html>
