﻿@model PlanningPoker.ViewModels.AccountViewModels.UserProfileViewModel


@if (Model.InviteList.Count() > 0)
{
    <a class="link-menu" href="#">Notifications <b>+ @Model.InviteList.Count()</b></a>
    <ul class="sub-menu">
        @foreach (var invite in Model.InviteList)
        {
            <li class="link-menu">
                <div class="invite-notification">
                    You have been invited in room "@invite.RoomName" by user @invite.OwnerName
                    <button class="applyInvite" data-invite-id="@invite.InviteId" data-room-id="@invite.RoomId">Ok</button>
                    <button class="declineInvite" data-invite-id="@invite.InviteId" data-room-id="@invite.RoomId">Decline</button>
                </div>
            </li>
        }
    </ul>
}