﻿/*for all pages*/


@font-face {
    font-family: MarckScript;
    src: url(../Fonts/MarckScript-Regular.ttf);
}

@font-face {
    font-family: Tolsh;
    src: url(../Fonts/Tolsh.TTF);
}

body {
    background-color: #FFF8DC;
    margin: 0;
    padding: 0 0 33px 0;
    font: 16px/22px arial;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

textarea,
input,
button,
select {
    outline: none;
}

a {
    color: #0026ff;
}

p {
    text-align: justify;
}

h2 {
    font-size: 18px;
}

hr {
    margin: 20px 0;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid #000;
    padding: 5px 0;
    overflow: hidden;
    z-index: 100;
}

.page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 100500;
}

.spinner {
    position: absolute;
    left: 45%;
    top: 45%;
    transform: rotateY(90deg);
    animation: preloader 2s infinite;
    animation-direction: alternate;
}

@keyframes preloader {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(2880deg);
        transform: rotateY(2880deg);
    }
}


.validation-summary-errors {
    list-style: none;
    margin: auto;
    padding: 10px;
    color: #ff0000;
}

    .validation-summary-errors > ul {
        list-style: none;
        padding: 0;
    }

.field-validation-error {
    padding: 10px;
    display: block;
    color: #ff0000;
}

.background-img {
    max-height: 300px;
    position: fixed;
    opacity: 0.8;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.button {
    margin: 0 10px 10px 10px;
    padding-left: 35px;
    text-align: left;
    font-size: 18px;
    color: #000;
    border-radius: 5px;
    height: 40px;
    width: 170px;
}

    .button:hover {
        cursor: pointer;
    }

.button-table {
    border: none;
    border-radius: 0;
}

.container {
    position: relative;
    z-index: 0;
    background-color: #F5FFFA;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
}

.standart {
    background: url(/Content/Images/Skins/standart.png) no-repeat;
}

.blue {
    background: url(/Content/Images/Skins/blue.jpg) no-repeat;
}

.pink {
    background: url(/Content/Images/Skins/pink.jpg) no-repeat;
}

.light-green {
    background: url(/Content/Images/Skins/light-green.jpg) no-repeat;
}

.yellow {
    background: url(/Content/Images/Skins/yellow.jpg) no-repeat;
}

.red {
    background: url(/Content/Images/Skins/red.jpg) no-repeat;
}

.green {
    background: url(/Content/Images/Skins/green.jpg) no-repeat;
}

.brown {
    background: url(/Content/Images/Skins/brown.jpg) no-repeat;
}


/*form autorization and registration */

.form {
    position: relative;
    margin: auto;
    top: 100px;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #F5FFFA;
    padding: 20px;
}

.logo {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}


.control-input {
    width: 246px;
    border-radius: 5px;
    font-size: 15px;
    padding: 11px 5px 11px 45px;
    margin: 0 0 10px 0;
    box-shadow: 1px 1px 1px #a1a1a1;
}

    .control-input:focus,
    .add-value:focus {
        border-color: #000;
    }

.login {
    background: url(../Images/sprites.png) no-repeat #fff;
    background-position: -10px -1213px;
}

.email {
    background: url(../Images/sprites.png) no-repeat #fff;
    background-position: -10px -1170px;
}

.password {
    background: url(../Images/sprites.png) no-repeat #fff;
    background-position: -10px -1038px;
}

.submit {
    font-size: 20px;
    width: 300px;
    height: 45px;
    border: 2px solid #ffa033;
    border-radius: 5px;
    background-color: #ffb866;
    color: #000;
}

    .submit:hover {
        background-color: #ff7514;
        cursor: pointer;
    }

.bottom {
    text-align: right;
    margin-top: 20px;
}

.link {
    padding-left: 60px;
}

/*for menu*/

.nav-menu {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.left-menu {
    display: flex;
}

.logo-menu {
    display: block;
    padding: 5px 0;
    height: 70px;
}

.main-menu,
.profile-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.sub-menu {
    margin: 0;
    padding: 0;
    z-index: 1000;
    position: absolute;
    border: 1px solid #000;
    border-bottom: none;
    display: none;
    width: 300px;
}

    .sub-menu li {
        margin: 0;
        padding: 5px;
        list-style: none;
        display: block;
        border-bottom: 1px solid #000;
    }

    .sub-menu:hover {
        cursor: pointer;
    }

.main-menu > li:hover .sub-menu {
    display: block;
}

.invite-notification {
    font-size: 12px;
}

.applyInvite {
    background: #34c924;
    border: 2px solid #2aa11d;
    border-radius: 5px;
}

.declineInvite {
    background-color: #FF1806;
    border: 2px solid #A60E02;
    border-radius: 5px;
}

.left-menu > a {
    padding: 0 10px;
}

.link-menu {
    display: block;
    padding: 29px 10px;
    text-decoration: none;
    color: #000;
}

.login-link-menu {
    display: block;
    padding: 27px 10px;
    text-decoration: none;
}

/*for index*/

.center-content {
    padding: 10px 20px;
    margin: auto;
    max-width: 600px;
    background-color: #F5FFFA;
    border: 1px solid #000;
    border-top: none;
    border-bottom: none;
    position: relative;
    z-index: 0;
}

/*for profile*/

.container-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-rooms {
    height: 468px;
    width: 400px;
    font: 14px/22px arial;
    padding: 0 0 52px 0;
}

.table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

    .table > thead > tr > th {
        padding: 5px 5px 0 10px;
    }

.project-table > tbody > tr > td:first-child,
.project-table > thead > tr > th:first-child {
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-table > thead > tr > th:nth-child(2) {
    width: 23px;
}

.table > tbody > tr:hover {
    cursor: pointer;
}

.table > tbody > tr:active {
    background-color: #D3D3D3;
    cursor: move;
}

.table > tbody > tr:hover {
    background-color: #CDCDCD;
}

.table > tbody > tr > td {
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #000;
}

.container-for-scroll > .story-table-owner > .story-list > tr > td:last-child,
.right-container-game > .container-story > .story-table > .story-list > tr > td:last-child {
    width: 30px;
}

.icon-player-table {
    background: url(../Images/sprites-3.png) no-repeat;
    background-position: -15px -281px;
    vertical-align: middle;
}

.link-table {
    display: block;
    height: 20px;
    background: url(../Images/log-in.png) no-repeat;
    background-position: 3px 0px;
}

    .link-table:hover {
        background: url(../Images/log-in-hover.png) no-repeat;
        background-position: -10px -212px;
        background-position: 3px 0px;
    }

.delete-table-room {
    display: block;
    height: 20px;
    background: url(../Images/delete.png) no-repeat;
    background-position: 5px 0px;
    background-size: 14px;
}

    .delete-table-room:hover {
        cursor: pointer;
        background: url(../Images/delete-hover.png) no-repeat;
        background-position: 5px 0px;
        background-size: 14px;
    }


.out-table-room {
    display: block;
    height: 20px;
    background: url(../Images/log-out.png) no-repeat;
    background-position: 3px 0px;
}

    .out-table-room:hover {
        cursor: pointer;
        background: url(../Images/log-out-hover.png) no-repeat;
        background-position: 3px 0px;
    }

.container-add-room {
    border-top: 1px solid #000;
    height: 52px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0;
}

.create-room {
    width: 336px;
    height: 23px;
    padding: 0 5px;
    margin: 5px;
}

.add-room-table {
    height: 25px;
    width: 40px;
    background: url(../Images/sprites-3.png) no-repeat;
    background-position: -14px -306px;
    padding: 26px 0;
    margin: 0;
    border-left: 1px solid #000;
}

.form-profile {
    background-color: #F5FFFA;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 400px;
    position: relative;
    z-index: 0;
}

.delete-profile {
    height: 26px;
    width: 26px;
    background: url(../Images/sprites.png) no-repeat;
    background-position: -20px -354px;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

    .delete-profile:hover {
        cursor: pointer;
        background: url(../Images/sprites-3.png) no-repeat;
        background-position: -20px -0px;
    }

.flex-container {
    display: flex;
}

.flex-container-button {
    display: flex;
    flex-direction: column;
}

.edit-profile {
    background: url(../Images/sprites-3.png) no-repeat #f0ad4e;
    border: 2px solid #ffa033;
    background-position: -15px -85px;
}

    .edit-profile:hover {
        background-color: #ff7514;
    }

.save-profile,
.select {
    background: url(../Images/sprites-3.png) no-repeat #34c924;
    border: 2px solid #2aa11d;
    background-position: -15px -165px;
}

    .save-profile:hover,
    .select:hover {
        background-color: #228b22;
    }

.add-file-profile {
    position: relative;
    border: 2px solid #11507C;
    background: url(../Images/sprites.png) no-repeat #6AB0E2;
    background-position: -15px -256px;
    line-height: 37px;
    box-sizing: border-box;
    margin-bottom: 0;
}

    .add-file-profile:hover {
        background-color: #167EA0;
    }

.avatar {
    border: 1px solid #000;
    height: 150px;
    width: 150px;
}

.container-input {
    display: flex;
    flex-direction: column;
}

.center-holder-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.town {
    background: url(../Images/sprites-2.png) no-repeat #fff;
    background-position: -10px -464px;
}

.birthday {
    background: url(../Images/sprites-2.png) no-repeat #fff;
    background-position: -10px -122px;
}

.telephone {
    background: url(../Images/sprites-2.png) no-repeat #fff;
    background-position: -5px -551px;
}

.radio-profile {
    padding-bottom: 5px;
    display: flex;
}

.icon-male {
    padding: 10px 0 10px 45px;
    background: url(../Images/sprites.png) no-repeat;
    background-position: -10px -1133px;
}

.icon-female {
    padding: 10px 0 10px 45px;
    background: url(../Images/sprites.png) no-repeat;
    background-position: -5px -1428px;
}

.radio-gender {
    margin: 5px 25px 5px 0;
}

.container-card-skin-button {
    width: auto;
    height: 300px;
}

.container-card-skin {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    margin: auto;
}

.skin {
    line-height: 80px;
    width: 54px;
    font-family: Tolsh;
    text-align: center;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-size: 54px;
    margin: 5px;
}

.select {
    width: 30px;
    height: 30px;
    background: url("../Images/sprites-3.png") no-repeat #34c924;
    background-position: -12px -171px;
}

/*for game-user*/

.container-game {
    display: flex;
    justify-content: center;
}

.left-container-game {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-player {
    width: 273px;
    height: 200px;
    overflow: auto;
}

.player-table > tbody > tr > td:first-child,
.player-table > tbody > tr > td:last-child {
    width: 26px;
}

.player-table > tbody > tr > td:nth-child(2) {
    width: 185px;
}

.container-add-player {
    border-top: 1px solid #000;
    height: 52px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0;
}

.avatar-table {
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

.avatar-male {
    background: url(../Images/sprites.png) no-repeat;
    background-position: -19px -1224px;
}

.avatar-female {
    background: url(../Images/sprites.png) no-repeat;
    background-position: -18px -1344px;
}

.mute-player {
    vertical-align: middle;
    height: 26px;
    width: 26px;
    background: url(../Images/sprites.png) no-repeat;
    background-position: -15px -1472px;
    padding: 0;
    margin: 0;
}

.add-player {
    background: url(../Images/sprites-3.png) no-repeat #D3D3D3;
    border: 2px solid #a1a1a1;
    background-position: -15px -314px;
    margin: 0 20px 20px;
    float: right;
}

    .add-player:hover {
        background-color: #878787;
    }


.container-chat {
    width: 272px;
    height: 250px;
    padding: 0;
    padding-bottom: 52px;
}

.chat {
    height: 250px;
    margin: 0 0 10px 10px;
    padding-right: 10px;
    overflow: auto;
}

.add-message {
    width: 208px;
    height: 23px;
    padding: 0 5px;
    margin: 5px;
}

.send-message {
    height: 25px;
    width: 40px;
    background: url(../Images/sprites.png) no-repeat;
    background-position: -16px -1254px;
    padding: 26px 0;
    margin: 0;
    border-left: 1px solid #000;
}

.center-container-game {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.game-list {
    display: flex;
    height: 310px;
    width: 650px;
    align-items: center;
}

.mass-player {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.timer-user {
    margin: 0 auto;
    width: 100px;
    text-align: center;
}

.container-card {
    align-items: center;
    width: auto;
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
}

.card {
    position: relative;
    float: left;
    padding: 25px;
    line-height: 80px;
    align-items: center;
    width: 0;
    height: 30px;
    margin: 5px 35px 40px 35px;
    text-align: center;
    font-size: 40px;
}

    .card:hover {
        cursor: default;
    }


.skin:hover {
    cursor: pointer;
    outline: 5px solid #484F52;
}


.open-card,
.close-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

.open-card,
.close-card {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.close-card {
    background: url(../Images/skins/standart.png) no-repeat;
    background-size: 50px;
    font-family: Tolsh;
}

.open-card {
    background-color: #fff;
    font-family: MarckScript;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect-click.flipped .close-card {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect-click.flipped .open-card {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.nicname-holder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    font-size: 13px;
    font-family: arial;
}

.login-player {
    text-align: center;
}

.mass-card {
    display: flex;
    padding-left: 25px;
}

.card-list {
    line-height: 80px;
    width: 54px;
    font-family: MarckScript;
    text-align: center;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
}

.container-card-list {
    width: 650px;
    height: 140px;
    display: flex;
    align-items: center;
}

    .container-card-list > ul > li {
        vertical-align: middle;
        display: inline-block;
        width: 50px;
        margin-right: -15px;
    }

        .container-card-list > ul > li:hover {
            cursor: pointer;
            transform: translateY(-25px);
            margin: 0 0 0 15px;
            transition: transform 0.3s;
        }

        .container-card-list > ul > li:first-child:hover {
            margin: 0;
        }

.selected-card {
    transform: translateY(-25px);
    margin: 0 0 0 15px;
    margin-right: 0px !important;
}


.right-container-game {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-story {
    width: 270px;
    height: 524px;
    overflow: auto;
}

/*for game-owner*/

.container-player-owner {
    width: 344px;
    height: 468px;
    padding: 0 0 52px 0;
}

.container-text {
    width: 344px;
}

.delete-player {
    vertical-align: middle;
    height: 26px;
    width: 30px;
    background: url(../Images/sprites.png) no-repeat;
    background-position: -20px -174px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.invite-player {
    width: 280px;
    height: 23px;
    padding: 0 5px;
    margin: 5px;
}

.add-player-table {
    height: 25px;
    width: 40px;
    background: url(../Images/sprites.png) no-repeat;
    background-position: -15px -118px;
    padding: 26px 0;
    margin: 0;
    border-left: 1px solid #000;
}

.table-value {
    height: 26px;
    width: 26px;
    border: 1px solid #000;
    border-radius: 100%;
    font-family: MarckScript;
    text-align: center;
    background-color: #fff;
}

.higher {
    background-color: #ff6666;
}

.lower {
    background-color: #90ee90;
}

.container-for-scroll {
    position: relative;
    overflow: auto;
    width: 400px;
    height: 468px;
}

.container-story-owner {
    width: 400px;
    height: 468px;
    padding: 0 0 52px 0;
}

.container-table-input {
    width: 100%;
    height: 52px;
    position: absolute;
    bottom: 52px;
    background-color: brown;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-story-table {
    width: 380px;
    height: 23px;
    padding: 0 5px;
    margin: 5px;
}

.add-story-table,
.delete-story-table,
.download-story {
    padding: 26px 0px;
    margin: 0;
    height: 25px;
    width: 53px;
    border-right: 1px solid #000;
}

.add-story-table {
    background: url(../Images/plus.png) no-repeat;
    background-position: 8px 15px;
}

.delete-story-table {
    background: url(../Images/minus.png) no-repeat;
    background-position: 8px 15px;
}

    .delete-story-table:disabled {
        background-color: #CDCDCD;
        cursor: default;
    }

.download-story {
    background: url(../Images/download.png) no-repeat;
    background-position: 6px 10px;
}

.container-table-button {
    width: 100%;
    height: 52px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-panel-owner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    text-align: center;
    font: 40px MarckScript;
    margin: 0 10px;
}

.timer-owner {
    height: 70px;
    background-color: #fff;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.start-timer {
    margin: 5px;
    background: url(../Images/play.png) no-repeat #34c924;
    background-position: 14px 5px;
    border: 2px solid #2aa11d;
    height: 30px;
    width: 30px;
}

    .start-timer:hover {
        background-color: #228b22;
    }

.container-last-value {
    padding: 0 5px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.add-value {
    height: 30px;
    width: 60px;
    border-radius: 5px;
    font-size: 15px;
    padding: 0 0 0 5px;
    border: 2px solid #a1a1a1;
    margin: 5px;
}

.set-value {
    margin: 5px;
    background: url(../Images/thumb.png) no-repeat #34c924;
    background-position: 13px 5px;
    border: 2px solid #2aa11d;
    height: 30px;
    width: 30px;
}

    .set-value:hover {
        background-color: #228b22;
    }

.reset-game {
    margin: 5px;
    background: url(../Images/restart.png) no-repeat #f0ad4e;
    background-position: 13px 5px;
    border: 2px solid #ffa033;
    height: 30px;
    width: 30px;
}

    .reset-game:hover {
        background-color: #ff7514;
    }

.rotate-card {
    position: relative;
    border: 2px solid #11507C;
    height: 30px;
    width: 30px;
    padding: 3px 20px;
    margin: 5px;
    background: url(../Images/rotate-card.png) no-repeat #6AB0E2;
    background-position: 8px 1px;
}

    .rotate-card:hover {
        background-color: #167EA0;
    }

.file-input {
    position: absolute;
    width: 30px;
    opacity: 0;
}

.container-chat-owner {
    height: 364px;
    padding: 0;
    padding-bottom: 52px;
}

.chat-owner {
    margin: 0 0 10px 10px;
    padding-right: 10px;
    overflow: auto;
    width: 424px;
    height: 363px;
}

#discussion {
    padding: 0;
}

.container-send-mail {
    border-top: 1px solid #000;
    height: 52px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0;
}

.add-message-owner {
    width: 380px;
    height: 23px;
    padding: 0 5px;
    margin: 5px;
}
